{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="d-flex justify-content-center">
    <div class="card m-5 col-11 col-sm-9 col-md-8" >
        <div class="card-header bg-hustle-secondary text-white">
            <h2 style="display: flex; flex-direction: row">
               {% block header %}{% endblock %}
            </h2>
        </div>
        <div class="card-body">
            {% block form_block %}
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                <div class="justify-content-center">
                    {% block buttons %}
                    <button class="btn btn-hustle-secondary my-2" type="submit">Create</button>
                    {% endblock %}
                </div>
            </form>
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
