
{% load blacklist %}

<div class="col">
   <div class="card m-1 border-{{ job.get_state.1|unless:user|blacklists:job.customer }}">
      <div class="card-header">
          <h5 class="my-2" style="float: left">Job #{{ job.id }} <div> {% include 'main/user_link.html' with person=job.customer %}</div> </h5>
	  {% if job.customer == user and job.get_state.0 == "Open" %}
	  <a class="btn btn-{{ job.get_state.1 }} m-1" style="float: right" href="{{ url }}/jobs/update/{{ job.id }}">Edit</a>
	  {% endif %}
	  <a class="btn btn-{{ job.get_state.1|unless:user|blacklists:job.customer }} m-1" style="float: right" href="{{ url }}/jobs/view/{{ job.id }}">View</a>
      </div>
      <div class="card-body">
        <p id="type{{ job.id }}"><strong>Type:</strong> {{ job.type }}</p>
        <p id="time_estimate{{ job.id }}"><strong>Time Estimate:</strong> {{ job.time_estimate }}</p>
        {% if job.accepted_bid %}
            <p id="bid{{ job.id }}"><strong>Accepted Bid:</strong> {{ job.accepted_bid.bid }}</p>
        {% endif %}
      </div>
      <div class="card-footer">
        {% if job.claimed_user == user and job.complete %}
        <a class="btn btn-hustle" id="survey" href="{{ url }}/surveys/create/{{ job.id }}">Complete Survey</a>
        {% elif job.customer == user and job.complete %}
	      <a class="btn btn-hustle" id="review" href="{{ url }}/reviews/create/{{ job.claimed_user.id }}">Review Worker</a>
        {% else %}
	      <p id="state{{ job.id }}" class="text-{{ job.get_state.1|unless:user|blacklists:job.customer }}"><strong>State:</strong> {{ job.get_state.0 }}</p>
	      {% endif %}
      </div>
    </div>
  </div>
